.Dropdown {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  background-color: white;
  z-index: 50;
  padding: 0 15px;
}

.Success {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Danger {
  background-color: transparent;
  border: none;
  color: #944317;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
