.Main {
  margin-top: 60px;
  box-sizing: border-box;
  text-align: center;
}

.Burger {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 500px;
  }
}

.Success {
  background-color: transparent;
  border: none;
  color: #5c9210;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Danger {
  background-color: transparent;
  border: none;
  color: #944317;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Form {
  border: 1px solid #ccc;
  width: 450px;
  margin: 20px auto;
  display: block;
  box-sizing: border-box;
}

.Form input {
  padding: 10px;
  width: 80%;
  margin-bottom: 15px;
}

.Form select {
  width: 86%;
  margin-bottom: 15px;
  padding: 10px;
}

.Form button {
  width: 150px;
  padding: 10px;
  font: inherit;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: white;
  border: none;
  color: rgb(143, 94, 3);
}

.Error {
  background-color: red;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid red;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font: inherit;
}
