.Form {
  left: 25%;
  top: 65%;
  border: 1px solid #ccc;
  width: 0;
  margin: 20px auto;
  display: block;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.FormTransition {
  width: 450px;
}

.InfoForm {
  display: none;
}

.ShowForm {
  display: block;
}

.Form input {
  padding: 10px;
  width: 80%;
  margin-bottom: 15px;
}

.Form select {
  width: 86%;
  margin-bottom: 15px;
  padding: 10px;
}

.Form button {
  width: 150px;
  padding: 10px;
  font: inherit;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: white;
  border: none;
  color: rgb(143, 94, 3);
}

.Error {
  background-color: red;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid red;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font: inherit;
}
